<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

	<title>{% block title %} Electronics Commerce {% endblock %}</title>
	<style type="text/css">
		.min-h-100 {
			min-height: 100%;
		}

		/* ::-webkit-scrollbar {
			display: none;
		} */

		:root {
			overflow-x: hidden;
		}
	</style>
</head>

<body>
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container px-2">
			<div>
				{% block header %} Electronic Commerce {% endblock %}
			</div>

			<div class="collapse navbar-collapse d-flex justify-content-around" id="navbarSupportedContent">
				{% block sidebar %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link" aria-current="page" href="/admin/">Admin</a></li>
					<li class="nav-item"><a class="nav-link" href="/">Product</a></li>
					<!-- <li class="nav-item"><a class="nav-link" href="/cart/">Cart</a></li> -->
				</ul>
				<a class="btn btn-outline-dark" href="/cart/">
					<i class="bi-cart-fill me-1"></i>
					Cart
					<!-- <span class="badge bg-dark text-white ms-1 rounded-pill"></span> -->
				</a>
				{% endblock %}
			</div>

		</div>
	</nav>
	<!-- Header-->
	<header class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white">
				<h1 class="display-4 fw-bolder">Shop in style</h1>
				<p class="lead fw-normal text-white-50 mb-0">For your journey</p>
			</div>
		</div>
	</header>

	<div class="row" style="min-height:40vh !important;">
		<div id="content" class="min-h-100 bg-light col-sm-12 col-md-12 col-lg-12">
			{% block content %}{% endblock %}
		</div>
	</div>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; E-commerce Website 2022 - Journey</p>
		</div>
	</footer>
</body>

</html>